/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./pexels-pixabay-414860.jpg') no-repeat center center/cover;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

footer {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 150px;
    object-fit: contain;
    padding: 10px;
}

.carousel-item img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    display: block; 
}
